!DOCTYPE html>
<html>
    <head>
        <title>Your Results Are: Cancer Research/Releif!</title>
    </head>
    <body>
      <p>If you want to donate, you should visit Canteen</p>
           <a href= "https://www.canteen.org.au/">Canteen</a>
        <img src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwihl9-rmPLcAhXj54MKHevQCtMQjRx6BAgBEAU&url=https%3A%2F%2Fwww.flowfm.com.au%2Fsingle-post%2F2017%2F09%2F20%2FCanTeen%25E2%2580%2599s-South-East-Visit-Supporting-Teens-Dealing-with-Cancer&psig=AOvVaw1Oe4o7m2NqHXo5YyBb2Jrn&ust=1534530125171492">
        <p>If you want to volunteer, you should visit Camp Happy Days</p>
        <a href="https://www.camphappydays.org/">Camp Happy Days</a>
        <img src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjBrc64mPLcAhUc8YMKHe6xAZ8QjRx6BAgBEAU&url=http%3A%2F%2Fmyemail.constantcontact.com%2FCamp-Happy-Days---Winter-Newsletter.html%3Fsoid%3D1102899987339%26aid%3DcTjH_Zb_12s&psig=AOvVaw3JZfzePGjlv7fRa5qNMIEl&ust=1534530154646597">
    </body>
</html>