<!DOCTYPE html>
<html>
    <head>
        <title>Your Results Are: Natural Disasters Relief!</title>
    </head>
    <body>
      <p>If you want to donate, you should visit Project Hope</p>
           <a href= "http://www.projecthope.org/">Project Hope</a>
        <img src="http://www.projecthope.org/">
        <p>If you want to volunteer, you should visit Trevor Project</p>
        <a href="https://www.thetrevorproject.org/?gclid=CjwKCAjwwdTbBRAIEiwAYQf_E5cWf4arVMXsQ_2vRDKpe5oZUUt9vR06WgqBH-sME13O2C2XXuGI1xoCWi8QAvD_BwE#sm.00015p230ejh7f96y741cgx9d1cz0">Trevor Project</a>
        <img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwir2MjylvLcAhVB_4MKHX0LBRwQjRx6BAgBEAU&url=https%3A%2F%2Fwww.thetrevorproject.org%2F&psig=AOvVaw3xCO9lT1C2d7TFL1A1jVAt&ust=1534529737639197">
    </body>
</html>





