<!DOCTYPE html>
<html>
    <head>
        <title>Your Results Are: Natural Disasters Relief!</title>
    </head>
    <body>
      <p>If you want to donate, you should visit Project Hope</p>
           <a href= "http://www.projecthope.org/">Project Hope</a>
        <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fsecure.projecthope.org%2Fimages%2Fcontent%2Fpagebuilder%2FPHlogo-tran.png&imgrefurl=https%3A%2F%2Fsecure.projecthope.org%2Fsite%2FDonation2%3Bjsessionid%3D00000000.app318b%3Fdf_id%3D7259&docid=NPj3UmurR2XuZM&tbnid=fNzA90Ivph1ZGM%3A&vet=10ahUKEwj85MCHmfLcAhUL4oMKHUBQArgQMwhFKAIwAg..i&w=492&h=277&bih=826&biw=1440&q=PROJECT%20HOPE&ved=0ahUKEwj85MCHmfLcAhUL4oMKHUBQArgQMwhFKAIwAg&iact=mrc&uact=8">
        <p>If you want to volunteer, you should visit Direct Relief</p>
        <a href="https://www.directrelief.org/?gclid=CjwKCAjwwdTbBRAIEiwAYQf_E1qCXkHj5JIRGXE7rWirO61iVvnCpK9yqQubFGLaFJsgbiRzXHseJBoC55MQAvD_BwE">Direct Relief</a>
        <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.guidestar.org%2FViewEdoc.aspx%3FeDocId%3D4151142%26approved%3DTrue&imgrefurl=https%3A%2F%2Fwww.guidestar.org%2Fprofile%2F95-1831116&docid=BJkVYzRICGMs0M&tbnid=kJJeJID8g7DM-M%3A&vet=10ahUKEwjzw8z1mPLcAhUp4oMKHa62B80QMwhIKAIwAg..i&w=1073&h=202&bih=826&biw=1440&q=direct%20relief&ved=0ahUKEwjzw8z1mPLcAhUp4oMKHa62B80QMwhIKAIwAg&iact=mrc&uact=8">
    </body>
</html>





